body{
    
    padding: 50px;
    background-color: beige ;
    
}

body.cuerpo{
    padding: 0px;
    margin:0;
}

h1.inicio{
    color: brown;
}

.retorno{
   position: absolute;
   bottom: 20px;
}

.footer{
    position: absolute;
    padding-bottom: 80px;
}

.textocuri{
    font-style:courier;

}

.foto{
    height: 150px;
    width: 150px;
}

.foto_gatos{
    height: 200px;
    width: 200px;
}

h1.fnt-blue {
    color: blue;
}

h1.fnt-red {
    color: brown;
}    

p.fnt-blue {
    color: blue;
}

#nombre_alumno {
    color: red;
    text-decoration: underline;
}

.titulo{
    color: rgb(103, 189, 247);
    font-style: italic;
    font-size: 30px;
}

.texto{
    color: rgb(0, 0, 59);
    font-size: 15px;
}

.destacado{
    font-style: italic;
    font-weight: bold;
}

.contenedor{
    
    background-color: grey;
    display: grid;
    grid-template-columns: auto auto auto; 
       
}
.container{
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(221, 250, 246, 0.747);
    
}
.foto_venta{
    border-radius: 10px;
    height: 250px;
    width: 203px;
    margin: 6px;
    margin-top: 10%;
    
}

p.comentario{
    
 text-align: center;
}

.ej4menu{
    text-align: center;
    color: white;
    background-color: blue;
    height: 40px;
    width: 100%;
   
}

.ej4footer{
    text-align: center;
    color: white;
    background-color: red;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.f_abajo{
    margin:0;
}

.ej5_up{
    text-align: center;
    margin-bottom: 1%;
    font-size: 200px;
    padding: 2%;
    margin-right: 1%;
}

.ej5_down{
    text-align: center;
    padding: 2%;
    font-size: 200px;
    margin-right: 1%;
}

.col1 {
    background-color:red;
}
.col2 {
    background-color:blue;
}
.col3 {
    background-color:green;
}
.col4 {
    background-color:yellow;
}

.group{
    margin-left: 27%;
}
.ej6_ident{
    margin-left: -13px;
    display: inline-grid;
}

div.ej7_block1{
    display: inline-flex;
}

.Foto_dni{
    height: 150px;
    width: 150px;
}
.ej7_b1_0{
    padding-left: 67px;
}
.ej7_b1_1{
    margin-left: 130px;
}

.ej7_tabla{
    margin: 10%;
}

.ej7_tabla1{
    padding-left: 37%;
    border-top: 4px solid  rgb(3, 238, 255);
    text-align: end;
    border-bottom: 5px solid  rgb(3, 238, 255);
}

.ej7_t_tabla{
    background-color:  rgb(3, 238, 255);
    text-align: center
}

.ej7_l_bonito{
    text-align: center;
    width: 107%;
    border-bottom: 5px solid rgb(3, 238, 255);
}
.ej7_l_bonito1{
    text-align: center;
    
}

.ej7_cliente{
    padding-left: 12px;
    margin-left: 0px;
    padding-right: 66px;
    border-left: 4px solid rgb(3, 238, 255);
    border-right: 4px solid  rgb(3, 238, 255);
    position: relative;
    
}

.ej7_bar{
    border-left: 5px solid rgb(3, 238, 255);
}

/*   Ejercicio 4c */

div.caja{
    position: relative;
    background-color: red;
    padding: 4%;
    display: inline-block;
    left: 40%
}

.punt1{
    background-color: beige;
    width: 25%;
    border-radius: 100%;
    border: 5px solid red;
    height: 30%;
    display: inline-block;
    position: absolute;
    left: -34px;
    top: -30px;
}

.punt2{
    background-color: beige;
    width: 25%;
    border-radius: 100%;
    border: 5px solid red;
    height: 30%;
    display: inline-block;
    position: absolute;
    left: 214px;
    top: -30px;
}
.punt3{
    background-color: beige;
    width: 25%;
    border-radius: 100%;
    border: 5px solid red;
    height: 30%;
    display: inline-block;
    position: absolute;
    left: -34px;
    top: 132px;
}
.punt4{
    background-color: beige;
width: 25%;
    border-radius: 100%;
    border: 5px solid red;
    height: 30%;
    display: inline-block;
    position: absolute;
    left: 215px;
    top: 132px;
}